/* header*/
.h5 {
  color: gray;
}
/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: gray;
}
.titregénérale {
  color: rgb(0, 128, 122);
  text-align: center;
  font-size: 40px;
  font-family: monospace;
}
.para2 div {
  color: gray;
  display: flex;
  justify-content: center;
  margin: 2% 2%;
  padding: 1% 2%;
  font-size: 20px;
  text-align: justify;
}
li.par1 {
  display: inline-flex;
  padding-right: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
ul.par1 {
  position: relative;
  left: 70%;
}
#P1 {
  padding: 2%;
}
#P2 {
  padding: 2%;
}
#image1 {
  position: relative;
  left: 10%;
}
#section {
  display: flex;
  justify-content: space-between;
  border: royalblue;
  border-collapse: separate;
  border-spacing: 40px;
  padding: 5%;
  margin-top: 2% 2%;
}
.doctor {
  padding: 1%;
  border: width 2px;
  border-style: outset;
  background-color: rgb(90, 205, 205);
}
.doctor p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
}
.doctor h3 {
  color: white;
  text-decoration-line: underline;
}
#section div {
  border-top-left-radius: 4%;
  border-top-right-radius: 4%;
  margin: 2%;
}
#section.para2 {
  margin: 3%;
}
#section2 div p {
  justify-content: flex-end;
}
.photos img {
  width: 120px;
  position: relative;
  left: 50%;
}
#section2 p {
  text-align: center;
  color: rgb(0, 204, 255);
  font-size: 30px;
  margin: 3%;
  position: relative;
  right: 25%;
}
.image {
  display: flex;
  justify-content: space-between;
  width: 50px;
  border: royalblue;
  border-collapse: separate;
  border-spacing: 40px;
}
#section3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
